<template>
  <view class="container">
    <div class="img-common img-name">{{ file.fileName }}</div>
    <div class="img-common effective-time">此链接7天内有效，请尽快下载</div>
    <div class="img-wrap">
      <van-image :src="file.filePath" />
    </div>
    <div class="btn-wrap">
      <van-button type="primary" class="btn-width" @click="downloadImg">下载图片</van-button>
    </div>
  </view>
</template>

<script lang="ts">
export default {
  name: 'Download',
}
</script>

<script setup lang="ts">
import { Ref, ref } from 'vue'
import { getScreenshot } from '../../api/download'
import { FILE_MSG } from './type'
let file: Ref<FILE_MSG> = ref({})
// 获取截图信息
const fetchScreenshot = async () => {
  try {
    const { data } = await getScreenshot('20220521165909fae2197c38444b7b94e3e19b82f849fa')
    file.value = data
    console.log(file.value)
  } catch (error) {
    console.error(error)
  }
}
fetchScreenshot()

const downloadImg = () => {
  // 下载图片
  var ua = window.navigator.userAgent.toLowerCase()
  // 微信内置浏览器
  if (ua.indexOf('micromessenger') != -1) {
    uni.showToast({
      title: '请点击右上角在浏览器打开进行文件下载',
      icon: 'none',
    })
  } else {
    file.value.filePath = 'https://cdn.uviewui.com/uview/album/1.jpg'
    const url = file.value.filePath
    let dload = document.createElement('a')
    dload.download = '' // 设置下载的文件名，默认是'下载'
    dload.href = url
    document.body.appendChild(dload)
    dload.click()
    dload.remove() // 下载之后把创建的元素删除
  }
}
</script>

<style lang="scss">
@import '@/static/css/variable.scss';
.img-common {
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1rem;
}
.img-name {
  color: #1d2027;
}
.effective-time {
  background: rgba(29, 32, 39, 0.95);
  color: #ffffff;
}
.img-wrap {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.btn-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-width {
  width: 95%;
}
</style>
